@import url("fonts/fonts.css");
body .navbar .nav-toggler span{
    width:1em;
    height:1em;
    
}
html,body{
    width:100%;
    height:100%;
    overflow-x: hidden;
}
body .navbar .logo{
   font-family: 'logotextt';
    font-size: 1.5em;
}
.nav-link{
    color:white !important;
   
}
body div div .carousel-item{
    width:100%;
    width:100%;
    background-color: rgba(30, 143, 255, 0.377);
}
body div div .carousel-item img{
    margin-left: auto;
}
/* body .header-img{
    width: 100%;
    background-image: url("image/школа170.jpg");
    background-size: 100% 200%;
    background-position:center top;
    height: 300px;
} */
body .main-menu{
    background-color: rgba(240, 240, 218, 0.438) !important;
    position: relative;
    width:100%;
    box-shadow: 0px 10px 1px dodgerblue,
    0px 20px 1px yellow;
    
}
.logo img{
    position: relative;
    border-radius: 50%;
    width:70px !important;
}
.nav-link{
    position: relative;
    font-size:1.2em;
    color: black !important;
    font-family: days;
    text-shadow: 2px 1px 1px rgba(165, 42, 42, 0.432);
  }
.logo img:hover{
    transition: all .7s ease .1s;
}
.logo span{
    color:orange;
    position: relative;
}
.logo span:after,.nav-link:after{
    content:"";
    position:absolute;
    opacity: 0;
    width:0;
    height:0;
    border-bottom: 3px solid rgb(177, 59, 59);
    left:0;
    bottom:0   ;
    transition: all .3s ease 0s;
}
.logo span:hover:after,.nav-link:hover:after{
    opacity:1;
    width:100%;
    transition: opacity 0s ease 0s, width .4s ease .3s;
}

.headh{
    font-family: days;
    border-bottom:4px solid orange;
}
.carousel-control-prev span,.carousel-control-next span{
    z-index: 3;
    font-size: 2em;
    color:rgba(255, 166, 0, 0.7)
}
.carousel-control-prev span:hover,.carousel-control-next span:hover{
    color:orange
}
.carousel{
    padding-right:0
}
.card.home{
    min-height:35em;
}
.footer a span,footer div ul .nav-item .nav-link{
    color:white !important;
}
footer div ul .nav-item .nav-link{
    font-size: 1em;
}
.label-input{
    font-family: Comic Sans MS, sans-serif;
   
}
.label-control{
    cursor: pointer;
}
#news-textarea,#news-textarea1,#textarea-main,#textarea-main2{
    height:20em;
    resize: none;
}
.article-form{
    border: 2px solid rgb(255, 172, 17);
    border-radius: 3%;
}
input[type="file"]{
display: none;
}
tr{
    border-bottom: 2px solid black;
}
.wrapper {
    display: block;
}

/* #sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 9999;
} */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    /* full screen */
    width: 100%;
    height: 100%;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}
.overlay img{
    display: block;
    z-index: 999;
}
/* #dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
   
    top: 10px;
    right: 10px;
} */
.wrapper{
    display:block;
}

.comments{
    background-color: white;

}
.comment{
    padding:0px;
}
.head-comment{
    width:100% !important;
    padding:0;
}
.comment-text{
    font-size: .8em;
}
.head-line{
    border-bottom: 3px solid rgb(177, 59, 59);
}
.forum-profile-image{
    border-radius: 50%;
    width:70px;
}
.user-name{
    font-size: 1.2em;
}
.chat{
    color: white;
}
.mymessage{
    font-size: 1.3em;
    font-family:Comic Sans MS,sans-serif
}
@media (min-width:350px){
body .navbar .logo{
    font-size: 2.2em;
}
.comment{
    padding:0px 15px 0px 15px;
}
.head-comment{
        padding:0px 15px 0px 15px;
}
}