@font-face{
    font-family: logotextt;
    src:url("Lobster-Regular.ttf")format("truetype")
}
@font-face{
    font-family: Pacifico;
    src:url("Pacifico-Regular.ttf")format("truetype");
}
@font-face{
    font-family: Days;
    src: url("DaysOne-Regular.ttf")format("truetype");
}
@font-face{
    font-family: Stalinist;
    src:url("StalinistOne-Regular.ttf")format("truetype")
}